
body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: rgb(173, 165, 165);
}


.header {
    background: rgb(151, 211, 138);
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    font-size: 1.2em;
    border-radius: .5em;
    margin: 12px;
}

h2 {
    text-align: center;
    margin: 1.5em 1em .5em 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.login {
    margin: 12px;
    padding: .5em;
    background: blanchedalmond;
    border-radius: .5em;
    display: inline-block;
}
.dayscores{
    background: rgb(255, 96, 96, 0.562);
    margin: 12px;
    padding: 1em 1em 1em 1em;
    border-radius: .5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Quicksand', sans-serif;

}
.scoreboard {
    background: rgb(255, 96, 96, 0.562);
    margin: 12px;
    padding: 1em;
    border-radius: .5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Quicksand', sans-serif;
}

.podiumboard {
    background: rgb(255, 96, 96, 0.562);
    margin: 12px;
    padding: 1em 1em 1em 1em;
    border-radius: .5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Quicksand', sans-serif;
} 
.points{
    text-align: center;
    margin: 1em;
    font-size: 1em;
    font-weight: bold;
    padding: .5em;
    background: bisque;
    border-radius: .5em;
}

.name{
    text-align: center;
    margin: 1em;
    font-size: 1em;
    font-weight: bold;
    padding: .5em;
    background: bisque;
    border-radius: .5em;
}
.playeradd{
    background-color: bisque;
    border-radius: .5em;
    margin: 12px;
    padding: 1em;
    font-size: 0.8em;

}

.navbanner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: 'Quicksand', sans-serif;
}

.navlinks{
    border-radius: .5em;
    text-align: center;
    background: bisque;
    padding: .5em;
    margin: .5em 12px;

.score {
    padding: unset;
    text-align: center;
}

.team {
    font-weight: bold;
    text-align: center;
    background-color: bisque;
    border-radius: .5em;
    margin: 1em 3em 1em 3em;
    padding: 1em;
    font-size: 0.8em;

}

.rounds{
    text-align: center;
    background-color: bisque;
    border-radius: .5em;
    margin: 12px;
    padding: .7em;
    font-size: 1em;
}

.scorebutton{
    margin: .5em;
    padding: .5em;
    font-size: 1.5em;
    border-radius: .5em;
    text-align: center;


}
form #scorebutton{
    margin: .5em;
    padding: .5em;
    font-size: .7em;
    border-radius: .5em;
    text-align: center;

}   

form #scorewheel {
    font-size: 1.5em;
    padding: .2em;

}
form #roundwheel{
    font-size: 1em;
    padding: .2em;
    margin-left: 1em;

}
form #gamestart{
    padding: .5em;
    font-size: 1em;
    border-radius: .5em;
    text-align: center;

}

form #button {
    padding: 4px;
    border-radius: .5em;
    border: none;
    text-align: center;
    width: 6em;
    background: tan;
    margin: 0.2em .5em .5em 0em;
}

form #button:hover{
    background: rgb(138, 119, 94);
    color: white;
}

.playerboard{
    margin-top: 1em;
    padding: 1em;
    border-radius: .5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.playerbox{
    border-radius: .5em;
    text-align: center;
    background: antiquewhite;
    padding: 1em;
    margin: 0.7em 1em;
}

#hide{
    font-size: xx-small;

}

form #username{
    background: whitesmoke;
    padding: .3em;
    width: 12em;
    border-radius: .5em;
    margin: 0.2em .5em .5em 0em;

}

form #password{
    background: whitesmoke;
    padding: .3em;
    width: 12em;
    border-radius: .5em;
    margin: 0.2em .5em .5em 0em;


}

.content {
    background: white;
    padding: 1.5em 2em;
    border-radius: .5em
 }