
body {
    margin: auto;
    max-width: 45em;
    background: rgb(173, 165, 165);
    font-family: 'Quicksand', sans-serif;
}

.header {
    background: rgb(143, 189, 133);
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 1.5em;
    font-size: 1.5em;
    border-radius: .5em;
    margin: 12px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.h2 {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin: 1em 0em 0em 0em;
}

.h2-americano {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    margin: 12px;
    padding: .5em;
    background: rgb(244, 207, 165);
    border-radius: .5em;
}

.h2-seasonstats {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    margin: 12px;
    padding: .5em;
    background: rgb(244, 207, 165);
    border-radius: .5em;
}

.h2-americano-points{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin: 12px 7em;
    padding: .5em;
    background: rgb(244, 207, 165);
    border-radius: .5em;

}

.h2stats{
    text-align: center;
    font-size: .8em;
    font-weight: bold;
    padding: .5em;
}

.login {
    margin: 12px;
    padding: .5em;
    text-align: center;
    border-radius: .5em;
 }

.dayscores{
    background: rgb(255, 96, 96, 0.562);
    margin: 12px;
    padding: 1em 1em 1em 1em;
    border-radius: .5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Quicksand', sans-serif;
}

.scoreboard {
    background: rgb(255, 96, 96, 0.562);
    margin: 12px;
    padding: 1em;
    border-radius: .5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Quicksand', sans-serif;
}

.scoreboard-americano {
    background: rgb(255, 96, 96, 0.562);
    margin: 12px;
    padding: 1em;
    border-radius: .5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Quicksand', sans-serif;
}

.gameboard{
    background: rgb(255, 96, 96, 0.562);
    margin: 12px;
    padding: 1em 1em 1em 1em;
    border-radius: .5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Quicksand', sans-serif;
}

.podiumboard {
    background: rgb(255, 96, 96, 0.562);
    margin: 12px;
    border-radius: .5em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-family: 'Quicksand', sans-serif;
}
    
.points{    
    text-align: center;
    margin: auto;
    font-size: 1em;
    font-weight: bold;
    padding: .5em;
    background: bisque;
    border-radius: .5em;
}

.name{
    text-align: center;
    margin: 1em;
    font-size: 1em;
    font-weight: bold;
    padding: .5em;
    background: bisque;
    border-radius: .5em;
}

.playeradd{
    border-radius: .5em;
    padding: .5em 0em .5em .5em;
    font-size: 0.8em;
    text-align: center;
}
.tournament-name{
    text-align: center;
}

.navbanner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: 'Quicksand', sans-serif;
    margin: 12px;
}

.navbanner1{
    font-family:'Quicksand', sans-serif;
    margin: 1em 12px 2em 12px;
    text-align: center;
    background: beige;
    border-radius: .5em;
    text-decoration: none;
    color: black;
}

.navlinks1{
    border-radius: .5em;
    text-align: center;
    background: bisque;
    padding: .5em;
    margin: .5em .5em .5em 0em;
    text-decoration: none;
    color: black;
}

.navlinks1-select{
    border-radius: .5em;
    text-align: center;
    background: rgb(239, 195, 146);
    padding: .5em;
    margin: .5em .5em .5em 0em;
    text-decoration: none;
    color: black;
    border-style: outset;
}
.navlinks2{
    border-radius: .5em;
    text-align: center;
    background: bisque;
    padding: .5em;
    margin: .5em;
    text-decoration: none;
    color: black;
}

.navlinks3{
    border-radius: .5em;
    text-align: center;
    background: bisque;
    padding: .5em;
    margin: .5em;
    text-decoration: none;
    color: black;
}

.navlinks2-select, .navlinks3-select{
    border-radius: .5em;
    text-align: center;
    background: rgb(239, 195, 146);
    padding: .5em;
    margin: .5em;
    text-decoration: none;
    color: black;
    border-style: outset;
}

.navlinks4{
    border-radius: .5em;
    text-align: center;
    background: bisque;
    padding: .5em;
    margin: .5em 0em .5em .5em;
    text-decoration: none;
    color: black;
}
.navlinks4-select{
    border-radius: .5em;
    text-align: center;
    background: rgb(239, 195, 146);
    padding: .5em;
    margin: .5em 0em .5em .5em;
    text-decoration: none;
    color: black;
    border-style: outset;
}

.navlinks1:focus, .navlinks2:focus, .navlinks3:focus, .navlinks4:focus{
    background: rgb(247, 221, 137);
}
.navlinks1:hover, .navlinks2:hover, .navlinks3:hover, .navlinks4:hover{
    background: rgb(247, 221, 137);
}
.registerlink{
    border-radius: .5em;
    text-align: center;
    background: bisque;
    padding: .5em;
    margin: .5em;
    font-size: .9em;
    text-decoration: none;
    color: black;
}
.registerlink:hover{
    background: rgb(247, 221, 137);
}

.score {
    margin: .5em;
    text-align: center;
}
.score-americano {
    margin: .5em;
    text-align: center;
}

.team {
    font-weight: bold;
    text-align: center;
    background-color: bisque;
    border-radius: .5em;
    margin: auto auto .5em auto;
    padding: 1em;
    font-size: 0.8em;
}

.team-americano {
    font-weight: bold;
    text-align: center;
    background-color: bisque;
    border-radius: .5em;
    margin: auto auto .5em auto;
    padding: 1em;
    font-size: 0.8em;
}

.rounds{
    text-align: center;
    border-radius: .5em;
    padding: .7em;
    font-size: 1em;
}

.scorebutton{
    padding: .5em;
    font-size: 1.5em;
    border-radius: .5em;
    text-align: center;
}

form #scorebutton{
    margin: .5em;
    padding: .5em;
    font-size: .7em;
    border-radius: .5em;
    text-align: center;

}   

form #scorewheel {
    font-size: 1.2em;
    padding: .2em;

}
form #roundwheel{
    font-size: 1em;
    padding: .2em;
    margin-left: 1em;

}
form #gamestart{
    padding: .5em;
    font-size: 1em;
    border-radius: .5em;
    text-align: center;
    background: rgb(233, 233, 237)
}
form #gamestart:hover{
    background-color: rgb(213, 213, 217);
}

form #button {
    padding: 4px;
    border-radius: .5em;
    text-align: center;
    width: 8em;
    background: rgb(255, 228, 197);
    margin: 0.2em .5em .5em 0em;
}

form #button:hover{
    background: rgb(247, 221, 137);
    color: black;
}

.playerboard{
    margin-top: 1em;
    padding: 1em;
    border-radius: .5em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
.checkbox{
    position: absolute;
    left: -9999px;
}

.checkbox:checked + .playerbox{
    background-color: #c1e398d4;
}

.playerbox{
    border-radius: .5em;
    text-align: center;
    background: antiquewhite;
    padding: 1em;
    margin: 0.7em 1em;
    font-size: .9em;
}
.checkbox:focus + label{
    background: rgb(247, 221, 137);
}
.playerbox:hover{
    background: rgb(247, 221, 137);
 }

#hide{
    font-size: xx-small;

}

form #username{
    background: whitesmoke;
    padding: .3em;
    border-radius: .5em;
    margin: 0.5em;
    width: 11em;
}

form #password{
    background: whitesmoke;
    padding: .3em;
    border-radius: .5em;
    margin: .5em;
}

.content {
    background: white;
    padding: 1.5em 2em;
    border-radius: .5em
 }

.calendar {
    border-radius: .5em;
    padding: .5em 0em .5em .5em;
    font-size: 0.8em;
    text-align: center;
}
.calendar-table{
    border-radius: .5em;
    padding: .5em 0em .5em .5em;
    font-size: 0.8em;
    text-align: center;
}
.calendarbox {
    font-size: 1.2em;
    padding: 0.5em 1em .5em 1em;
    border-radius: 0.5em;
}
.find{
    font-size: 1em;
    padding: 0.2em 1em .2em 1em;
    border-radius: .5em;
}

::-moz-placeholder {
    text-align: center;
}  
::-webkit-input-placeholder {
    text-align: center;
}
