{% extends "index.html" %}
{% block title %}Americano{% endblock %}
{% block indexcontent %}

<div class="h2-americano">{{ tournament_name }}</div>

<form action="/stats" method="POST">
    {% for P in playerchart %}
        {% if (loop.index + 1) % 2 == 0 %}
            <div class="h2">Kenttä 1</div>
        {% else %}
            <div class="h2">Kenttä 2</div>
        {% endif %}
    <div class="scoreboard-americano">  
        <div class="team-americano">{{ P[0] }} / {{ P[1] }}</div>
        <div class="team-americano">{{ P[2] }} / {{ P[3] }}</div>     
        <div class="score-americano">
            <input type="hidden" id="hide" name="gamedata" value= "{{ P[0] }}">
            <input type="hidden" id="hide" name="gamedata" value= "{{ P[1] }}">
            <select id="scorewheel" name="gamescore">
                <option value="0" selected> 0
                <option value="1"> 1
                <option value="2"> 2
                <option value="3"> 3
                <option value="4"> 4
                <option value="5"> 5
                <option value="6"> 6
                <option value="7"> 7
            </select>
        </div>
        <div class="score-americano">
            <input type="hidden" id="hide" name="gamedata" value= "{{ P[2] }}">
            <input type="hidden" id="hide" name="gamedata" value= "{{ P[3] }}">
            <select id="scorewheel" name="gamescore">
                <option value="0" selected> 0
                <option value="1"> 1
                <option value="2"> 2
                <option value="3"> 3
                <option value="4"> 4
                <option value="5"> 5
                <option value="6"> 6
                <option value="7"> 7
            </select>
        </div>
    </div>
    {% endfor %}      
    <div class="scorebutton">
        <input type="hidden" id="hide" name=tournament_id value= "{{ t_id }}">
        <input id="scorebutton" type="submit" value="Tallenna päivän tulokset">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </div>
</form>
{% endblock %}