{% extends "layout.html" %}
{% block title %}Pelit{% endblock %}
{% block content %}
<form action="/stats" method="POST">
{% for r in range(rounds) %}
    <div><h2>Kierros {{ r+1 }}</h2></div>
    {% for P in playerchart %}
    <div class="scoreboard">  
        <div class="team">{{ P[0] }} / {{ P[1] }}</div>
        <div class="team">{{ P[2] }} / {{ P[3] }}</div>     
        <div class="score">
            <input type="hidden" id="hide" name="gamedata" value= "{{ P[0] }}">
            <input type="hidden" id="hide" name="gamedata" value= "{{ P[1] }}">
            <select id="scorewheel" name="gamescore">
                <option value="0" selected> 0
                <option value="1"> 1
                <option value="2"> 2
                <option value="3"> 3
                <option value="4"> 4
                <option value="5"> 5
                <option value="6"> 6
                <option value="7"> 7
            </select>
        </div>
        <div class="score">
            <input type="hidden" id="hide" name="gamedata" value= "{{ P[2] }}">
            <input type="hidden" id="hide" name="gamedata" value= "{{ P[3] }}">
            <select id="scorewheel" name="gamescore">
                <option value="0" selected> 0
                <option value="1"> 1
                <option value="2"> 2
                <option value="3"> 3
                <option value="4"> 4
                <option value="5"> 5
                <option value="6"> 6
                <option value="7"> 7
            </select>
        </div>
    </div>
    {% endfor %}  
{% endfor %}    
    <div class="scorebutton">
        <input id="scorebutton" type="submit" value="Tallenna päivän tulokset">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </div>
</form>
{% endblock %}