{% extends "seasonstats.html" %}
{% block navcontent %}
<div class="navbanner1">
    <a class ="navlinks1" href="/stats">Kausi</a>
    <a class ="navlinks4" href="/americanostats">Americano</a>
    <a class ="navlinks2-select" href="/allgames">Pelit</a>
</div>
{% endblock %}
{% block statisticcontent %}
<div class="h2">{{ message }}</div>
<form class = "calendar" action="/allgames" method="POST">
    <input class="calendarbox" type="date" id="gameday" name="gameday" value="2021-10-18" min="2021-01-01" max="2022-12-31">
    <label class = "calendar-table" for="gameday"></label>
    <div class="scorebutton">
        <input class= "find" type="submit" value="Etsi">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </div>
</form>
{% if games %} 
    <div class = "h2"> Pelit {{ games[0][0].strftime("%d-%m-%Y") }}</div>
    {% for g in games %}
        <div class="gameboard">
            <div class = "team"> {{ g[1] }} / {{ g[2] }}</div>
            <div class = "team"> {{ g[4] }} / {{ g[5] }} </div>
            <div class = "points"> {{ g[3] }}</div>
            <div class = "points"> {{ g[6] }}</div>
        </div>
    {% endfor %} 
{% endif %}
{% endblock %}

