<!DOCTYPE html>
<title>Paistilan Padel</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">

<body>
    <div class="header">
        <h1>Paistilan Padel</h1>
    </div>
    <div class="dayscores">
        <div>Pelaaja</div>
        <div>Tulos</div>
    </div>
    <form action="/stats" method="POST">
        <div class="scoreboard">  
            <div class="team">{{ P1 }} / {{ P2 }}</div>
            <div class="team">{{ P3 }} / {{ P4 }}</div>     
            <div class="score">
                <input type="hidden" id="hide" name="P1" value= "{{ P1 }}">
                <input type="hidden" id="hide" name="P2" value= "{{ P2 }}">
                <select id="scorewheel" name="T1">
                    <option value="0" selected> 0
                    <option value="1"> 1
                    <option value="2"> 2
                    <option value="3"> 3
                    <option value="4"> 4
                    <option value="5"> 5
                    <option value="6"> 6
                    <option value="7"> 7
                </select>
            </div>
            <div class="score">
                <input type="hidden" id="hide" name="P3" value= "{{ P3 }}">
                <input type="hidden" id="hide" name="P4" value= "{{ P4 }}">
                <select id="scorewheel" name="T2">
                    <option value="0" selected> 0
                    <option value="1"> 1
                    <option value="2"> 2
                    <option value="3"> 3
                    <option value="4"> 4
                    <option value="5"> 5
                    <option value="6"> 6
                    <option value="7"> 7
                </select>
            </div>
        </div>
        <div class="scorebutton">
            <input id="scorebutton" type="submit" value="Tallenna päivän tulokset">
        </div>
    </form>
    

    <nav>
        <ul>
            <li>
                <a href="/">Lopeta ja ilman tallennusta</a>
            </li>
        </ul>
    </nav>
