{% extends "index.html" %}
{% block indexcontent %}

<div class="h2">Valitse päivän pelaajat (vähintään 8)</div>

<form action="/americano" method="POST" onsubmit="return americanocheck(this)">
    <div>Keksi nimi:<input id ="username" type="text" name="tournament_name" minlength="4" maxlength="10" pattern="[A-Öa-ö]+" placeholder="vain kirjaimia" required>
    <div class="playerboard">
        {% for p in players %}
        <input class ="checkbox" type="checkbox" id="player{{ loop.index }}" name="player" value="{{ p[0] }}">
        <label for ="player{{ loop.index }}" class="playerbox">{{ p[0] }}</label> 
        {% endfor %} 
    </div>
    <div class="scorebutton">
        <input id= "gamestart" type="submit" value="Aloita pelit">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </div>
         
</form>

<script src="{{url_for('static', filename='jschecks.js')}}"></script>

{% endblock %}