<!DOCTYPE html>
<title>Paistilan Padel</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">

<body>
    <div class="header">
        <h1>Paistilan Padel</h1>
    </div>

{% if session.user_id %}

<div><h2>Valitse päivän pelaajat (vähintään 5)</h2></div>

<form action="/games" method="POST" onsubmit="return check()">
    <div class="playerboard">
        <div class="playerbox">Pelaaja 1<input type="checkbox" name="player" value="Pelaaja1">         </div>
        <div class="playerbox">         <input type="checkbox" name="player" value="Pelaaja2">Pelaaja 2</div> 
        <div class="playerbox">Pelaaja 3<input type="checkbox" name="player" value="Pelaaja3">         </div> 
        <div class="playerbox">         <input type="checkbox" name="player" value="Pelaaja4">Pelaaja 4</div> 
        <div class="playerbox">Pelaaja 5<input type="checkbox" name="player" value="Pelaaja5">         </div> 
        <div class="playerbox">         <input type="checkbox" name="player" value="Pelaaja6">Pelaaja 6</div> 
    </div>
    <div class="scorebutton">
        <input id= "gamestart" type="submit" value="Aloita pelit" >
    </div>     
</form>
<script>
    function check() {
        var checked = 0;
        var player = form.getElementById("player");
        var chks = player.getElementsByTagName("input");
        for (var i = 0; i < chks.length; i++) {
            if (chks[i].checked) {
                checked++;
            }
        }
        if (checked > 5) {
            return true;
        }   
        else {
            alert("Valitse vähintään 5 pelaajaa");
            return false;
        }
    }
</script>
<div><h2>Tähän tulee kausitilastot näkyviin (kesken)</h2></div>
<br>

<div class="scoreboard">{{ podium }}</div>
<nav>
    <ul>
        <li>
            <a href="/logout">Kirjaudu ulos</a>
        </li>
    </ul>
</nav>
{% else %}
<div class="login">
    <form action="/login" method="post">
        <label for="username">Tunnus:</label>
        <input type="text" name="username">
        <label for="password">Salasana:</label>
        <input type="password" name="password">
        <input id=button type="submit" value="Kirjaudu">
    </form>
</div>
<nav>
    <ul>
        <li>
            <a href="/register"> rekisteröidy</a>
        </li>
    </ul>
</nav>

{% endif %}

<body>