<!DOCTYPE html>
<title>Paistilan Padel</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">

<body>
    <div class="header">
        <h1>Paistilan Padel</h1>
    </div>

{% if session.user_id %}

<div><h2>Valitse päivän pelaajat (vähintään 4)</h2></div>

<form action="/games" method="POST" onsubmit="check(this)">
    <div class="playerboard">
        <label class="playerbox">Pelaaja 1<input type="checkbox" id="player" name="player" value="Pelaaja1">         </label>
        <label class="playerbox">         <input type="checkbox" id="player" name="player" value="Pelaaja2">Pelaaja 2</label>
        <label class="playerbox">Pelaaja 3<input type="checkbox" id="player" name="player" value="Pelaaja3">         </label> 
        <label class="playerbox">         <input type="checkbox" id="player" name="player" value="Pelaaja4">Pelaaja 4</label> 
        <label class="playerbox">Pelaaja 5<input type="checkbox" id="player" name="player" value="Pelaaja5">         </label> 
        <label class="playerbox">         <input type="checkbox" id="player" name="player" value="Pelaaja6">Pelaaja 6</label> 
    </div>
    <div class="scorebutton">
        <input id= "gamestart" type="submit" value="Aloita pelit">
    </div>
         
</form>
<script>
    function check(form) {
    var checked = 0;
    var player = document.getElementsByTagName("player");
    var chks = player.getElementsByTagName("input");
    for (var i = 0; i < chks.length; i++) {
        if (chks[i].checked) {
            checked++;
        }
    }
    if (checked > 3) {
        return true;
    }   
    else {
        alert("Valitse vähintään 5 pelaajaa");
        return false;
    }
}
</script>
<div><h2>Tähän tulee kausitilastot näkyviin (kesken)</h2></div>
<br>

<div class="scoreboard">{{ podium }}</div>
<nav>
    <ul>
        <li>
            <a href="/logout">Kirjaudu ulos</a>
        </li>
    </ul>
</nav>
{% else %}
<p>{{ message }}</p><br>
<div class="login">
    <form action="/login" method="post">
        <label for="username">Tunnus:</label>
        <input type="text" id = "username" name="username" placeholder="Syötä tunnus" required>
        <label for="password">Salasana:</label>
        <input type="password" name="password" placeholder="Syötä salasana" required>
        <input id=button type="submit" value="Kirjaudu">
    </form>
</div>
<nav>
    <ul>
        <li>
            <a href="/register"> rekisteröidy</a>
        </li>
    </ul>
</nav>

{% endif %}

<body>