<!DOCTYPE html>
<title>Paistilan Padel - {% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">

<body>
    <div class="header">
        Paistilan Padel
    </div>
{% if session.user_id %}

{% block uppernav %} {% endblock %}
{% block content %}{% endblock %}

{% else %}
<div class="navbanner">
    <a class ="navlinks1" href="/">Pelit</a>
    <a class ="navlinks2" href="/stats">Tilastot</a>
    <a class ="navlinks3" href="/playerapp">Pelaajat</a>
    <a class ="navlinks4" href="/login">Login</a>
</div>

{% block registercontent %}{% endblock %}

{% endif %}


</body>