{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}
{% block navstart %}
<div class="navbanner">
    <a class ="navlinks1" href="/gameindex">Pelit</a>
    <a class ="navlinks2" href="/stats">Tilastot</a>
    <a class ="navlinks3" href="/playerapp">Pelaajat</a>
    <a class ="navlinks4-select" href="/login">Login</a>
</div>
{% endblock %}
{% block registercontent %}
<div class="navbanner1">
    <a class ="navlinks2" href="/register">Rekisteröidy</a>
</div>

<div class="login">
    <form action="/login" method="post">
        <div><label for="username">Tunnus:</label></div>
        <div><input type="text" id = "username" name="username" placeholder="Syötä tunnus" required></div>
        <div><label for="password">Salasana:</label></div>
        <div><input type="password" id = "password" name="password" placeholder="Syötä salasana" required></div>
        <div><input id="button" type="submit" value="Kirjaudu"></div>
    </form>
</div>
<div class="h2">{{ message }}</div>
{% endblock %}