<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">


<div>
    <form action="/login" method="post">
        <label for="username">Tunnus:</label>
        <input type="text" name="username">
        <label for="password">Salasana:</label>
        <input type="password" name="password">
        <input id=button type="submit" value="Kirjaudu">
    </form>
</div>
Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>