{% extends "layout.html" %}
{% block title %}Pelaajat{% endblock %}
{% block uppernav %}
<div class="navbanner">
    <a class ="navlinks1" href="/">Pelit</a>
    <a class ="navlinks2" href="/stats">Tilastot</a>
    <a class ="navlinks3-select" href="/playerapp">Pelaajat</a>
    <a class ="navlinks4" href="/logout">Logout</a>
</div>
{% endblock %}
{% block content %}

<div class="h2">{{ name_error }}</div>
<form action="/playerapp" method="POST" class="playeradd" onsubmit="return checkplayer(this)">
    <div>Lisää pelaaja: <input id ="username" type="text" name="add_player" minlength="4" maxlength="10" pattern="[A-Öa-ö]+" placeholder="vain kirjaimia" required>
        <input id ="button" type="submit" value="Lisää">
    </div>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<script src="{{url_for('static', filename='jschecks.js')}}"></script>

<form action="/playerdel" method="POST">
    <div class="playerboard">
        {% for p in players %}
        <input class ="checkbox" type="checkbox" id="player{{ loop.index }}" name="del_player" value="{{ p[0] }}">
        <label for ="player{{ loop.index }}" class="playerbox">{{ p[0] }}</label> 
        {% endfor %}
    </div>
    <div class="playeradd">
        <input id ="button" type="submit" value="Poista">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </div>
</form>
{% endblock %}