{% extends "layout.html" %}
{% block title %}Rekisteröointi{% endblock %}
{% block registercontent %}
<div class="header">
    <h1>Paistilan Padel</h1>
</div>
<h2>{{ message }}</h2>
<div>
    <form action="/register" method="post" class="login">
        <div ><label for="username">Tunnus:</label></div>
        <div><input type="text" id = "username" name="username" minlength="4" maxlength="12" required></div>
        <div><label for="password">Salasana:</label></div>
        <div><input type="password" id = "password" name="password1" minlength="4" maxlength="16" required></div>
        <div><label for="password">Salasana uudestaan:</label></div>
        <div><input type="password" id = "password" name="password2" required></div>
        <div><input id="button" type="submit" value="Luo tunnus"></div>
    </form>
</div>

{% endblock %}